<router-outlet>
    
</router-outlet>
<!--
<h1>{{applicationName | lowercase}} </h1>
{{studentName|uppercase}} <br/>
{{50 | currency:'INR'}} <br/>
{{"WElcome to angular = "+studentName}} <br/>

{{6+4}}

<input type="text" value="{{studentName+'welcome'}}"/><br/>
{{isDevEnvironment}}

<div *ngIf="isDevEnvironment; else production" >
    <h1> you are in dev enrionment</h1>
</div>
<ng-template #production>
    <h1>Production environment</h1>
</ng-template>

<br/>
<input type="button" value="toggle div" (click)="togglediv()" />
<div *ngIf="showDiv">
    <h1>this div will be toggled</h1>
</div>

<ul >
 <li *ngFor="let c of countries">{{c}}</li>
</ul>

<select >
    <option *ngFor="let c of countries">{{c}}</option>
</select>

<table border="1" >
    <tr *ngFor="let c of countries; index as i; even as e;odd as o; first as f;last as l" >
        <td>{{c}}</td> <td>{{i}}</td> <td>{{e}}</td> <td>{{o}}</td> <td>{{f}}</td> <td>{{l}}</td>
    </tr>
</table>

-->